<div class="results-wrapper">
	<ul>
	{{#each numbers}}
		<li>{{this.number}}</li>
	{{else}}
		<!-- In a loop, you need to use '@root' to come back to the global scope and use the i18n variable -->
		<li>{{ @root.i18n.skeleton.noNumber }}</li>
	{{/each}}
	</ul>
</div>