.callflows-port #timeofday-form {
	color: #EBEBEB;
}

.callflows-port #timeofday-form .time-wrapper-field {
	height: 50px;
	padding: 10px 20px 0 0;
}

.callflows-port #timeofday-form #days_checkboxes .fake_checkbox {
	float: left;
	color: #eeeeee;
	width: 15px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	padding: 0px;
	margin: 0px;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
	background-color: #989898;
	cursor: pointer;
}

.callflows-port #timeofday-form #days_checkboxes .fake_checkbox:first-child {
	border-left: 1px solid #000000;
	border-radius: 5px 0 0 5px;
}

.callflows-port #timeofday-form #days_checkboxes .fake_checkbox:last-child {
	border-radius: 0 5px 5px 0;
}

.callflows-port #timeofday-form #days_checkboxes .fake_checkbox:hover {
	background-color: #BEBEBE;
}

.callflows-port #timeofday-form #days_checkboxes .fake_checkbox.checked {
	background-color: #05ADDC;
}

.callflows-port #timeofday-form .time-wrapper label.monster-invalid {
	margin-top: 0;
}

.callflows-port #timeofday-form .timepicker:first-child {
	margin-left: 0;
}

.callflows-port #timeofday-form .timepicker {
	width: 80px;
	margin: 0 10px;
}